# latex
doc/*
!doc/sections/
!doc/img/*.png
!doc/.latexmkrc
!doc/*.tex
!doc/*.cls
.latexindent.yaml
indent.log

# cpp build files
build/
*.o
*.out

# generated points
*.txt

# results
*.csv
./*.png

# clang
.clang-format

